<div class="modalBox">

  <!-- <form ng-submit="userFactory.editBacklogTask(toEditTask._id)">
      <div class="form-group">
          <label>Task Title</label>
          <input type="text" class="form-control" ng-model = "userFactory.backlogListTaskTitle" name="text">
      </div>

      <div class="form-group">
          <label>Task Tag</label>
          <input type="text" class="form-control" ng-model="userFactory.backlogListTaskTag">
      </div>

      <div class="form-group">
          <label>Task Points</label>
          <input type="number" class="form-control" ng-model="userFactory.backlogListTaskPoints">
      </div>

      <input type="submit" value="submit">
  </form> -->

  <div class="modalTaskTagBar"></div>


</div>
